/* eventBar */
.eventBar{
    width: 100%; /* TODO: 나중에 바꿔야함*/
    height: 26px;
    background-color: var(--color-gray-900);
    color: white;
    overflow: hidden;
    word-break: break-all;
}

/* navigation */
.navigation{
    height: 50px;
    width: 100%;
    background-color: var(--color-light-gray);
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.navigation p {
    margin: 0;
    height: 100%;
    align-items: center;
    font-weight: 500;
}

.navigation div {
    display: flex;
    gap: 10px;
}

.navigation a{
    color: black;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover, 
.navigation a.action {
    color: black;
    text-decoration: underline;
}