.best-store {
    max-width: 1000px;
}

.best-store>div:nth-child(2) {
    width: fit-content;
    margin: 4rem auto;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

.flex-item > div { 
    width: 15rem;
    padding: 1rem;
    background-color: var(--color-blue-100);
    border: 1px solid var(--color-blue-200);
    border-radius: 1rem;
    box-shadow: 16px 10px 20px var(--color-blue-200);
}

/* 큰 화면일때는 ranking 1을 중앙으로 만들기 위해 order를 2로 바꿈 */
.flex-item:nth-child(1) { 
    order: 2;
}

.flex-item:nth-child(2) {
    order: 1;
}

.flex-item:nth-child(3) {
    order: 3;
}

.flex-item:nth-child(2),
.flex-item:nth-child(3) { 
    position: relative;
    top: 5rem;
}

.flex-item .store-ranking{
    font-family: hanna Pro;
    font-size: 3rem;
    color: var(--color-blue-600);
}

@media(max-width: 500px) {
    .flex-box {
        flex-direction: column;
        gap: 2rem;
    }

    .flex-item{
        order: 0 !important;
        top: 0 !important;
    }

        .flex-item > div {
            width: 90%;
            margin: auto;
        }
}


@media(max-width: 800px) {
    .flex-box {
        flex-direction: column;
        gap: 2rem;
    }

    .flex-item {
        order: 0 !important;
        top: 0 !important;
    }

    .flex-item>div {
        width: 90%;
        margin: auto;
    }
}