/* SwiperContent */
.swiper-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.swiper-wrap {
    height: calc(100vh - var(--height-header-event));
}

.swiper_list {
    /* width는 서버에서 가져온 이미지 데이터의 길이로 동적 바인딩 */
    height: 100%;
    margin-top: var(--height-header-event);
    display: flex;
    transition: transform 2s;
}

.swiper_list img {
    width: 100%;
}
