/* navigation */
.navigation {
    width: 100%;
    height: var(--height-header-nav);
    display: flex;
    justify-content: space-between;
    background-color: rgb(128 128 128 / 30%);
    backdrop-filter: saturate(180%) blur(20px);
    overflow: hidden;
}

.navigation .logo,
.navigation .logo:hover {
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    font-size: 75px;
    color: white;
    position: relative;
    top: 8px;
    left: -7px;
    letter-spacing: -11px;
}

.navigation .flexbox {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 15px;
}

.navigation a {
    color: white;
}

.navigation a {
    text-decoration: none;
}

.navigation div:nth-child(2) a:hover,
.navigation div:nth-child(2) a.action {
    text-decoration: underline;
    text-shadow: 4px 4px 4px var(--color-gray-400);
}